/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #7c9473;
  padding: 10px;
  position: relative;
}

h1 {
  margin-bottom: 60px;
  font-family: "Ubuntu", sans-serif;
  font-size: 4em;
  text-align: center;
  color: #cfdac8;
}

h2 {
  border: 1px solid black;
  background-color: #cfdac8;
  color: #7c9473;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  width: 150px;
  float: right;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  color: white;
  width: 90%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  clear: right;
}

div.content {
  border: 1px solid black;
  background-color: #cc7351;
  margin: 10px;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  .item1,
  .item2,
  .item3 {
    float: left;
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .item1,
  .item2 {
    float: left;
    width: 50%;
  }

  .item3 {
    float: left;
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .item1,
  .item2,
  .item3 {
    float: left;
    width: 100%;
  }
}
